/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.btActive {
	font-weight: bolder;
}

.logo-getin{
  background-image: url(img/getin_big.png);
  background-size: cover;
  width: 320px;
  height: 320px;
  background-position: center center;
  image-rendering: auto;
  background-repeat: no-repeat;
  background-position-x: 25px;
}
