<div class="wrapper wrapper-content animated fadeInRight" ng-controller="APHEntryCtrl" data-ng-init="init()">
	<!-- visits_by_date -->
	<div class="row">
		<div class="col-lg-12">
			<div id="rssi"></div>
		</div>
	</div>
	<!-- fin visits_by_date -->
	<!-- visits_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="artificialrssi"></div>
		</div>
	</div>
	<!-- fin visits_by_hour -->
	<!-- repetitions -->
	<div class="row">
		<div class="col-lg-12">
			<div id="repetitions"></div>
		</div>
	</div>
	<!-- fin repetitions -->
	<!-- permanence_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="permanence_by_hour"></div>
		</div>
	</div>
	<!-- fin permanence_by_hour -->
	<!-- heatmap_traffic_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="heatmap_traffic_by_hour"></div>
		</div>
	</div>
	<!-- fin heatmap_traffic_by_hour -->
	<!-- heatmap_permanence_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="heatmap_permanence_by_hour"></div>
		</div>
	</div>
	<!-- fin heatmap_permanence_by_hour -->
	<!-- footer -->
	<div class="row">
		<div class="col-lg-12" style="height: 50px;">
		</div>
	</div>
	<!-- fin footer -->
</div>