<div class="wrapper wrapper-content animated fadeInRight" ng-controller="APLocationCtrl">
	<div class="row" style="margin-top: 15px;" data-ng-init="init()">
		<div class="col-lg-8">
			<!-- map-->
			<div class="ibox-content" id="map" style="height: 500px; padding: 0px;">
			</div>
			<!-- fin map -->
		</div>

		<div class="col-lg-4">
            <div class="ibox-title">
                <h5>Atenci&oacute;n</h5>
            </div>
			<div class="ibox-content">
				<p>Esta ubicaci&oacute;n no es la ubicaci&oacute;n real de la antena, sino que es una ubicaci&oacute;n aproximada basada en la direcci&oacute;n IP reportada por la misma</p>
			</div>
		</div>
	</div>
</div>