<div ng-controller="InfluenceMapCtrl" class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-9 ibox-content" data-ng-init="init()">
			<div class="form-group" style="height: 50px;">
				<div class="input-group" style="float:left;">
					Cadena:<br>
					<select  ng-model="brand" ng-change="brandChange()" data-ng-options="o.name for o in brands" class="input-sm form-control" style="width: 250px;"></select>
				</div>
				<div class="input-group" style="float:left; margin-left: 10px;">
					{{storeLabel}}:<br>
					<select  ng-model="store" data-ng-options="o.name for o in stores" class="input-sm form-control" style="width: 250px;"></select>
				</div>
				<div class="input-group" style="float:left; margin-top: 18px; margin-left: 10px;">
					<button ng-click="refresh()" type="button" ladda="loadingRefresh" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Filtrar</button>
				</div>
			</div>
			<!-- funnel convertion-->
			<div class="ibox-content" id="map" style="padding-left: 0px; height: 500px;">
			</div>
			<!-- fin funnel -->
		</div>

		<div class="col-lg-3">
            <div class="ibox-title">
                <h5>Referencias</h5>
            </div>
			<div class="ibox-content" >
				<!-- Tabla -->
                    <form class="form-horizontal">
						<div class="input-group">
	
                        <div><label> <input icheck type="checkbox" ng-model="checkGpsWork">
                        <span style="color: #00ff00;">Verde:<br> </span>Ubicaci&oacute;n de los visitantes en el d&iacute;a. </label></div>
                        <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkGpsHome">
                        <span style="color: #0000ff;">Azul:<br> </span>Ubicaci&oacute;n de los visitantes en la noche. </label></div>
                        <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkPeasantWork">
                        <span style="color: #800080;">Morado:<br> </span>Ubicaci&oacute;n de los paseantes en el d&iacute;a. </label></div>
                        <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkPeasantHome">
                        <span style="color: #FFA500;">Naranja:<br> </span>Ubicaci&oacute;n de los paseantes en la noche. </label></div>
                        <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkOriginWork">
                        <span style="color: #b9390f;">Cafe:<br> </span>Origen de vehiculos en el d&iacute;a. </label></div>
                        <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkDestinyWork">
                        <span style="color: #777;">Gris:<br> </span>Destino de vehiculos en el d&iacute;a. </label></div>
                        <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkOriginHome">
                        <span style="color: #c3af05;">Amarillo:<br> </span>Origen de vehiculos en la noche. </label></div>
                         <br>
                        <div><label> <input icheck type="checkbox" ng-model="checkDestinyHome">
                        <span style="color: #1ab394;">Azul Metalico:<br> </span>Destino de vehiculos en la noche. </label></div>

						<div class="input-group" style="float:left; margin-top: 18px; margin-left: 10px;">
						<button ng-click="refresh()" type="button" ladda="loadingRefresh" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Actualizar</button>
						</div>
	                </form>
			</div>
		</div>
	</div>
</div>