<div ng-controller="InfluenceMapCtrl" class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12 ibox-content" data-ng-init="init()">
			<div class="form-group" style="height: 50px;">
				<div class="input-group" style="float:left;">
					Cadena:<br>
					<select  ng-model="brand" ng-change="brandChange()" data-ng-options="o.name for o in brands" class="input-sm form-control" style="width: 250px;"></select>
				</div>
				<div class="input-group" style="float:left; margin-left: 10px;">
					Tienda:<br>
					<select  ng-model="store" data-ng-options="o.name for o in stores" class="input-sm form-control" style="width: 250px;"></select>
				</div>
				<div class="input-group" style="float:left; margin-top: 18px; margin-left: 10px;">
					<button ng-click="refresh()" type="button" ladda="loadingRefresh" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Filtrar</button>
				</div>
			</div>
			<!-- funnel convertion-->
			<div class="ibox-content" id="map" style="padding-left: 0px; height: 500px;">
			</div>
			<!-- fin funnel -->
		</div>
	</div>
</div>