<div ng-controller="SessionCtrl" data-ng-init="init()">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Cambio de Contrase&ntilde;a para {{userName}}</h2>
		<h4>{{identifier}}</h4>
	</div>
</div>

<div class="panel-body wrapper wrapper-content animated fadeInRight">

	<div class="row">

		<!-- Password -->
		<div class="col-lg-12" ng-class="formPasswordClass">
			<div class="ibox float-e-margins" data-ng-init="getUser()">
				<!-- Passowrd ABM -->
				<div class="ibox-content form-horizontal">
					<div class="form-group">
						<label class="col-sm-4" style="text-align: right; padding-top: 6px;">Contraseña Actual</label>
						<div class="col-sm-8"><input type="password" ng-model="obj.currentPassword" class="form-control" style="width: 250px;"></div>
					</div>

					<div class="form-group">
						<label class="col-sm-4" style="text-align: right; padding-top: 6px;">Nueva Contraseña</label>
						<div class="col-sm-8"><input type="password" ng-model="obj.newPassword" class="form-control" style="width: 250px;"></div>
					</div>

					<div class="form-group">
						<label class="col-sm-4" style="text-align: right; padding-top: 6px;">Repita Contraseña</label>
						<div class="col-sm-8"><input type="password" ng-model="obj.newPassword2" class="form-control" style="width: 250px;"></div>
					</div>

					<div class="input-group" style="float: right;">
						<button type="button" ng-click="changePassword()" ladda="loadingSubmit" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in">Aplicar</button>
					</div>

				</div>

				<!-- fin Password ABM -->

			</div>
		</div>

	</div>
</div>
</div>