<div class="wrapper wrapper-content animated fadeInRight" ng-controller="APDVisitsCtrl" data-ng-init="initAPDVisits()">
	<div id="brandSelectorContainer" class="row" style="margin-bottom: 15px; display: none;">
		<div class="col-lg-12">
			<div class="ibox-content">
				<div class="form-group" style="height: 50px;">
					<div class="input-group" style="float:left;">
						Cadena:<br>
						<select name="venue" id="brandId" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 250px;">
						</select>
					</div>
					<div class="input-group" style="float:left; margin-top: 18px; margin-left: 10px;">
						<button type="button" ng-click="updateBrand()" ladda="loadingSubmit" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Filtrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- filtro -->
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox-content">
				<div id="detalle">
					<div class="row">
						<div class="form-group col-lg-6">
							<label class="font-noraml">Rango de Fechas:</label>
							<div class="input-group date" style="max-width: 400px;">
								<input type="datetime" id="fromDate" ng-model="fromDate" class="form-control datelistener" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="datetime" id="toDate" ng-model="toDate" class="form-control datelistener" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							<div class="input-group" style="max-width: 400px;">
								<select ng-model="retailCalendarDate" ng-change="retailCalendarChange()" data-ng-options="o.name for o in retailCalendar" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 400px;">
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6">
							<label class="font-noraml">{{storeLabel}}:</label>
							<div class="input-group date">
								<select name="store" ng-model="storeId" id="store" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 250px;">
									<option value="">Todas</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6" ng-class="zoneAble">
							<label class="font-noraml">Zona:</label>
							<div class="input-group date">
								<select name="zone" ng-model="zoneId" id="zone" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 250px;">
									<option value="">Todas</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-6">
							<div class="form-group" style="height: 50px;">
								<button type="button" ng-click="updateAPDVisits()" ladda="loadingSubmit" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Filtrar</button>
							</div>
						</div>
						<div class="form-group col-lg-6">
							<div class="form-group" style="height: 50px;">
								<button type="button" ng-click="exportAPDVisits()" ladda="loadingExcel" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Exportar a Excel</button>
								<span id="exportDetails">
<!-- 								<button type="button" ng-class="detailsExportable" ng-click="exportDetails()" ladda="loadingExcel" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Exportar MACs</button> -->
								<button type="button" ng-class="detailsExportable" ng-click="exportReport()" ladda="loadingExcel" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Exportar Reporte</button></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- table -->
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox-content">
				<div class="ibox float-e-margins">
					<div class="table-responsive" id="brand_performance_table">
						<table class="table table-striped" style="text-align: center;" >
							<tr style="font-weight:bold;">
								<td>{{storeLabel}}</td>
								<td>Paseantes</td>
								<td>Visitantes</td>
								<td>Tickets</td>
								<td>Ventas</td>
								<td>Paseantes/Visitantes</td>
								<td>Visitantes/Tickets</td>
								<td>Día más Alto</td>
								<td>Día más Bajo</td>
								<td>Permanencia Promedio</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="ibox-content" class="form-group" ng-class="classAdmin">
                <label>Comentarios</label>
                <textarea class="form-control" ng-model="visitsComments" placeholder="Tus comentarios" rows="3"></textarea>
                <br/>
				<button type="button" ng-click="updateComments()" ladda="loadingSubmit" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Guardar</button>
			</div>
			<div class="ibox-content" ng-class="classUser">
                <p class="font-bold  alert alert-warning m-b-sm">
                	{{visitsComments}}
                </p>
			</div>
		</div>
	</div>
	<!-- fin table -->
	<!-- visits_by_date -->
	<div class="row">
		<div class="col-lg-12">
	        <div class="ibox-content">
	            <div class="btn-group">
	                <button type="button" id="btnGraphDaily" ng-click="updateGraphs('D')" class="btn btn-xs btn-white active">Diario</button>
	                <button type="button" id="btnGraphWeekly" ng-click="updateGraphs('W')" class="btn btn-xs btn-white">Semanal</button>
	                <button type="button" id="btnGraphMonthly" ng-click="updateGraphs('M')" class="btn btn-xs btn-white">Mensual</button>
	            </div>
	        </div>
			<div id="visits_by_date"></div>
		</div>
	</div>
	<!-- fin visits_by_date -->
	<!-- visits_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="visits_by_hour"></div>
		</div>
	</div>
	<!-- fin visits_by_hour -->
	<!-- repetitions -->
	<div class="row">
		<div class="col-lg-12">
			<div id="repetitions"></div>
		</div>
	</div>
	<!-- fin repetitions -->
	<!-- permanence_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="permanence_by_hour"></div>
		</div>
	</div>
	<!-- fin permanence_by_hour -->
	<!-- heatmap_traffic_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="heatmap_traffic_by_hour"></div>
		</div>
	</div>
	<!-- fin heatmap_traffic_by_hour -->
	<!-- heatmap_occupation_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="heatmap_occupation_by_hour"></div>
		</div>
	</div>
	<!-- fin heatmap_occupation_by_hour -->
	<!-- heatmap_permanence_by_hour -->
	<div class="row">
		<div class="col-lg-12">
			<div id="heatmap_permanence_by_hour"></div>
		</div>
	</div>
	<!-- fin heatmap_permanence_by_hour -->
	<!-- footer -->
	<div class="row">
		<div class="col-lg-12" style="height: 50px;">
		</div>
	</div>
	<!-- fin footer -->
</div>