<div class="wrapper wrapper-content animated fadeInRight" ng-controller="APDVisitsCtrl" data-ng-init="initAPDVisits()">
	<div id="brandSelectorContainer" class="row ibox float-e-margins" style="display: none;">
		<div class="col-lg-12">
			<div class="ibox-content">
				<div class="box-flexible">
					<div class="col-lg-3 col-md-6">
						<div class="">
							<label class="">Cadena:</label>
							<select name="venue" ng-model="selectedBrand" ng-change="updateBrand()" ng-options="brand as brand.name for brand in brands track by brand.identifier" class="chosen-select form-control" style="width: 220px;"></select>
						</div>
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="">
							<label class="">{{storeLabel}}:</label>
							<select name="store" ng-options="store as store.name for store in stores track by store.identifier" ng-model="storeId" id="store" data-placeholder="Filtrar.." class="form-control" style="width: 220px;"></select>
						</div>
					</div>
					<div class="col-lg-1  col-md-2" ng-class="zoneAble" style="width: 120px;">
						<label class="">Zona:</label>
						<div class="input-group date">
							<select name="zone" ng-model="zoneId" id="zone" data-placeholder="Filtrar.." class="chosen-select form-control">
								<option value="">Todas</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="form-group">
							<label class="">Rango de Fechas:</label>
							<div class="input-group date" style="min-width: 380px;">
								<input type="datetime" id="fromDate" ng-model="fromDate" class="form-control datelistener" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="datetime" id="toDate" ng-model="toDate" class="form-control datelistener" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							<br>
						</div>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="col-lg-6 col-md-4"></div>
						<div class="col-lg-3 col-md-4">
							<div class="input-group" style="max-width: 300px;">
								<select ng-model="retailCalendarDate" ng-change="retailCalendarChange()" data-ng-options="o.name for o in retailCalendar" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 300px;"></select>
							</div>
						</div>
						<div class="col-lg-3 col-md-4">
							<div class="dropdown align-right">
								<button class="btn btn-default dropdown-toggle export-custom-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Exportar
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#">Descargar Excel</a></li>
									<li><a href="#">Generar Reporte</a></li>
								</ul>
							</div>
							<div class="filter-alignment">
								<button href="#" type="button" ng-click="updateAPDVisits()" ladda="loadingSubmit" class="btn filter-button" data-style="zoom-in" >Filtrar</button>
							</div>
						</div>
					</div>


					</div>
				</div>
			</div>
	</div>
	<!-- filtro -->

						<!-- <div class="form-group col-lg-6">
							<label class="font-noraml">Resultados en tabla:</label>
							<div class="input-group date">
								<select name="pags" ng-model="pagination" id="pags" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 250px;">
									<option value="">10</option>
									<option value="">20</option>
									<option value="">50</option>
									<option value="">100</option>
								</select>
							</div>
						</div> -->
					<!-- <div class="row">
						<div class="col-lg-6">
							<div class="col-lg-6 col-lg-push-3">
								<div class="row">
									<button type="button" style="float:left;" ng-click="exportAPDVisits()" ladda="loadingExcel" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Exportar a Excel</button>
									<span id="exportDetails">
									<button type="button" ng-class="detailsExportable" ng-click="exportDetails()" ladda="loadingExcel" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Exportar MACs</button>
									<button type="button" style="float:left; margin-left:2em;" ng-class="detailsExportable" ng-click="exportReport()" ladda="loadingExcel" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Exportar Reporte</button>
									</span>
								</div>
							</div>
						</div>
					</div> -->

	<!-- table -->

	<div class="row" ng-hide="loadedClientData">
		<div class="centered-div">
			<div class="dashboard-placeholder"></div>
		</div>
	</div>
	<div class="row" ng-class="classUser">
		<div class="col-lg-12">
			<div class="ibox-mask"></div>
			<div class="ibox float-e-margins ibox-notifications">
				<div class="ibox-content ibox-notifications-content">
					<h3>Notificaciones antenas</h3>
					<div ng-repeat="comment in visitsComments">
						<div class="alert inspinia-notify alert-warning alert-dismissible">
				 			<p><span class="glyphicon glyphicon glyphicon-info-sign"></span>&nbsp;{{comment}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin table -->
	<!-- visits_by_date -->
	<div class="row">
		<div class="col-lg-25">
			<div ng-show="loadedClientData" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Ventas</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{info.revenue}}</h1>
					<small>Total de Ventas</small>
				</div>
			</div>
		</div>

		<div class="col-lg-25">
			<div ng-show="loadedClientData" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Paseantes</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{info.peasants}}</h1>
					<small>Total de Paseantes</small>
				</div>
			</div>
		</div>

		<div class="col-lg-25">
			<div ng-show="loadedClientData" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Visitas</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{info.visits}}</h1>
					<small>Total de Visitas</small>
				</div>
			</div>
		</div>

		<div class="col-lg-25">
			<div ng-show="loadedClientData" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Tickets</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{info.tickets}}</h1>
					<small>Total de Tickets</small>
				</div>
			</div>
		</div>

		<div class="col-lg-25">
			<div ng-show="loadedClientData" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Ticket Promedio</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{info.avgTickets}}</h1>
					<small>Ticket Promedio</small>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="loadedClientData">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
	        <div class="btn-group">
	            <button type="button" id="btnGraphDaily" ng-click="updateGraphs('D')" class="btn btn-xs btn-white active">Diario</button>
	            <button type="button" id="btnGraphWeekly" ng-click="updateGraphs('W')" class="btn btn-xs btn-white">Semanal</button>
	            <button type="button" id="btnGraphMonthly" ng-click="updateGraphs('M')" class="btn btn-xs btn-white">Mensual</button>
	        </div>
	      </div>
				<div id="visits_by_date"></div>
			</div>
		</div>
	</div>
	<!-- fin visits_by_date -->
	<!-- visits_by_hour -->
	<div class="row" ng-show="loadedClientData">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div id="visits_by_hour"></div>
			</div>
		</div>
	</div>

	<!-- permanence_by_hour -->
	<div class="row" ng-show="loadedClientData">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="permanence_by_hour"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin permanence_by_hour -->
	<!-- heatmap_traffic_by_hour -->
	<div class="row" ng-show="loadedClientData">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="heatmap_traffic_by_hour"></div>
				</div>
			</div>
		</div>
	<!-- fin heatmap_traffic_by_hour -->
	<!-- heatmap_occupation_by_hour -->
		<div class="col-lg-6">
			<div ng-show="loadedClientData" class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="heatmap_occupation_by_hour"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin heatmap_occupation_by_hour -->
	<!-- heatmap_permanence_by_hour -->
	<div class="row" ng-show="loadedClientData">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="heatmap_permanence_by_hour"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-content" class="form-group">
          <div class="offline_devices">
						 <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-show="loadedClientData">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-content" class="form-group" ng-class="classAdmin">
          <label>Comentarios</label>
          <textarea class="form-control" ng-model="visitsComments" placeholder="Tus comentarios" rows="3"></textarea>
          <br/>
					<button type="button" ng-click="updateComments()" ladda="loadingSubmit" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- fin heatmap_permanence_by_hour -->
</div>
