<div class="wrapper wrapper-content animated fadeInRight" ng-controller="APReportCtrl" data-ng-init="initAPReport()">
	<div id="brandSelectorContainer" class="row" style="display: none;">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content" style="height: auto; min-height:100px;">
					<div class="col-lg-2 col-md-6">
						<div class="">
							<label class="">Cadena:</label>
							<select name="venue" ng-model="selectedBrand" ng-change="updateBrand()" ng-options="brand as brand.name for brand in brands track by brand.identifier" class="chosen-select form-control" style="width: 220px;"></select>
						</div>
					</div>
					<div class="col-lg-2 col-md-6">
						<div class="">
							<label class="">{{storeLabel}}:</label>
							<select name="store" ng-options="store as store.name for store in stores track by store.identifier" ng-model="storeId" id="store" data-placeholder="Filtrar.." class="form-control" style="width: 220px;"></select>
						</div>
					</div>
					<div class="col-lg-3  col-md-6" ng-class="zoneAble">
						<label class="">Zona:</label>
						<div class="input-group date">
							<select name="zone" ng-model="zoneId" id="zone" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 250px;">
								<option value="">Todas</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="form-group">
							<label class="">Rango de Fechas:</label>
							<div class="input-group date" style="max-width: 300px;">
								<input type="datetime" id="fromDate" ng-model="fromDate" class="form-control datelistener" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="datetime" id="toDate" ng-model="toDate" class="form-control datelistener" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							<!-- <div class="input-group" style="max-width: 300px;">
								<select ng-model="retailCalendarDate" ng-change="retailCalendarChange()" data-ng-options="o.name for o in retailCalendar" data-placeholder="Filtrar.." class="chosen-select form-control" style="width: 300px;">
								</select>
							</div> -->
							<br>
						</div>
					</div>

					<div class="">
						<div class="dropdown align-right">
						  <button class="btn btn-default dropdown-toggle export-custom-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Exportar
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Descargar Excel</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Generar Reporte</a></li>
						  </ul>
						</div>
					</div>

					<div class="filter-alignment">
						<button href="#" type="button" ng-click="updateAPDVisits()" ladda="loadingSubmit" class="btn filter-button" data-style="zoom-in" >Filtrar</button>
					</div>

					</div>
				</div>
			</div>
	</div>


  <div class="row">
    <div class="col-lg-12">
      <div ng-show="loadedClientData" class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive" id="brand_performance_table">
            <table  id="brand-table" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" data-limit-navigation="5">
              <thead>
                <tr>
                  <th data-sort-initial="true" data-toggle="true" data-sort-name="key">
                    {{storeLabel}}
                  </th>
                  <th>Paseantes</th>
                  <th>Visitantes</th>
                  <th>Tickets</th>
                  <th>Items</th>
                  <th>Ventas</th>
                  <th>Visitantes/Paseantes</th>
                  <th>Tickets/Visitantes</th>
                  <th>Día más Alto</th>
                  <th>Día más Bajo</th>
                  <th>Permanencia Promedio</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr></tr>
                <tr>
                  <td colspan="10">
                    <ul class="pagination pull-right"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
