<div class="wrapper wrapper-content animated fadeInRight" id="HeatmapView" ng-controller="DemoAreasCtrl">
	<div class="row">
		<div class="col-lg-9">
			<!-- Areas de Afluencia convertion-->
			<div class="ibox-content">
				<div id="afluencia"></div>
			</div>
			<!-- fin Areas de Afluencia -->
			
			<div class="ibox-content">
				<div id="detalle"></div>
				<!-- Ayuda -->
				<h2>Ayuda</h2>
				<small>En este gráfico puede observas las áreas más
				concurridas del Centro Comercial en diferentes días y horarios.
				Esto le puede dar un panorama de lo que hace antes y después de
				ir a la tienda. </small>
				<!-- Tips -->
				<h2>Tips</h2>
				<small> Al conocer el comportamiento de su cliente podrá
				realizar promociones cruzadas con diferentes tiendas que estén
				dentro del Centro Comercial, para darle un beneficio aún mayor a
				su cliente. </small>
			</div>
		</div>
		<!-- categorias tabla -->
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Descripción de áreas</h5>
				</div>
				<div class="ibox-content" id="descriptionTable">
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="row">
		<div class="col-lg-12" style="height: 50px;">
		</div>
	</div>
	<!-- fin footer -->
</div>