<div ng-controller="HeatmapCtrl" id="HeatmapFrameView" data-ng-init="initFrame()">
	<div class="mapContainer">
		<canvas id="map"></canvas>
	</div>
	<a href="#" style="display:none;" id="toggleMap">toggleMap</a>
	<a href="#" style="display:none;" id="next">next</a>
	<a href="#" style="display:none;" id="prev">previous</a>
	<a href="#" style="display:none;" id="zoomin">zoom in</a>
	<a href="#" style="display:none;" id="zoomout">zoom out</a>
	<a href="#" style="display:none;" id="save">save</a>
	<script>
	$(document).ready( function() {
		$('#toggleMap').click(function() {
			toggleMap();
		});
		$('#next').click(function() {
			next();
		});
		$('#prev').click(function() {
			prev();
		});
		$('#zoomout').click(function() {
			zoomout();
		});
		
		$('#zoomin').click(function() {
			zoomin();
		});
		
		$('#save').click(function() {
			indoormap.save(mapData, KEY);
		});
	});
	var save = function() {
		var scope = angular.element('#HeatmapFrameView').scope();
	    console.log(scope.mapData);
	    console.log(scope.KEY);

		indoormap.save(scope.mapData, scope.KEY);
	}
	var toggleMap = function() {
		indoormap.toggleMap();
	}
	var next = function() {
		indoormap.drawNextLineElement();
	}
	var prev = function() {
		indoormap.drawPrevLineElement();
	}
	var reload = function() {
		window.location.reload();
	}
	var zoomout = function() {
		current = Math.round(parseFloat($('.mapContainer').css('zoom')) * 100) / 100;
		if( current == 'NaN' ) current = 0.5;
		if( current > 0.1 ) {
			current -= 0.1;
			if( current == 0.5 ) {
				$('.mapContainer').css('zoom', '');
			} else {
				$('.mapContainer').css('zoom', current);
			}

			var w = parseInt((document.getElementById('floor_map_iframe') != null ? document.getElementById('floor_map_iframe').contentWindow.document.getElementById('map').style.width : document.getElementById('map').style.width), 10);
			var h = parseInt((document.getElementById('floor_map_iframe') != null ? document.getElementById('floor_map_iframe').contentWindow.document.getElementById('map').style.height : document.getElementById('map').style.height), 10);

			console.log('zoom factor: ' + current + ', ' + w + ', ' + h );
			window.parent.document.getElementById('floor_map_iframe').style.width = (w * current) +'px';
			window.parent.document.getElementById('floor_map_iframe').style.height = (h * current) +'px';
		}
	}
	var zoomin = function() {
		current = Math.round(parseFloat($('.mapContainer').css('zoom')) * 100) / 100;
		if( current == 'NaN' ) current = 0.5;
		if( current < 2 ) {
			current += 0.1;
			if( current == 0.5 ) {
				$('.mapContainer').css('zoom', '');
			} else {
				$('.mapContainer').css('zoom', current);
			}

			var w = parseInt((document.getElementById('floor_map_iframe') != null ? document.getElementById('floor_map_iframe').contentWindow.document.getElementById('map').style.width : document.getElementById('map').style.width), 10);
			var h = parseInt((document.getElementById('floor_map_iframe') != null ? document.getElementById('floor_map_iframe').contentWindow.document.getElementById('map').style.height : document.getElementById('map').style.height), 10);

			console.log('zoom factor: ' + current + ', ' + w + ', ' + h );
			window.parent.document.getElementById('floor_map_iframe').style.width = (w * current) +'px';
			window.parent.document.getElementById('floor_map_iframe').style.height = (h * current) +'px';
		}
	}
	</script>
</div>