<div>
	<uib-tabset>
		<uib-tab>
			<uib-tab-heading>
				<span>Carga Diaria(Manual)</span>
			</uib-tab-heading>
			<div class="panel-body" ng-controller="StoreTicketsCtrl" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12 ibox-content" data-ng-init="init()">
						<div class="form-group row">
							<div class="input-group" style="float: left; margin-left: 10px;">
								Cadena:<br>
								<select ng-model="brand" ng-change="brandChange()" data-ng-options="o.name for o in brands" class="form-control" style="width: 250px;"></select>
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								Tienda:<br>
								<select ng-model="store" data-ng-options="o.name for o in stores" class="form-control" style="width: 250px;"></select>
							</div>
						</div>
						<div class="form-group row">
							<div class="input-group" style="float: left; margin-left: 10px;">
								Fecha Inicio:<br>
								<input type="datetime" id="fromDate" ng-model="fromDate" class="form-control" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								Fecha Fin:<br>
								<input type="datetime" id="toDate" ng-model="toDate" class="form-control" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD">
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								<br/>
								<button type="button" ng-click="loadTickets()" ladda="loadingloadUpdate" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Cargar</button>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-12 ibox-content" ng-class="formTicketsClass">
						<div class="ibox-title">
							<h5>Tickets</h5>
						</div>

						<div class="ibox-content form-group">
							<div ng-repeat="(i, day) in listdays track by $index">
								<label class="col-lg-2 col-sm-3" style="text-align: center; margin-top: 7px;">{{day.date}}</label>
								<div class="col-lg-2 col-sm-3">
									<div ng-if="blocked[i] === 1">
										<input ng-model="listdays[i].numberoftickets" class="form-control" readonly>
									</div>
									<div ng-if="blocked[i] === 0">
										<input ng-model="listdays[i].numberoftickets" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-lg-12" ng-class="formTicketsClass">
								&nbsp;
							</div>
						</div>

						<div class="col-lg-12 ibox-content" ng-class="formTicketsClass">
							<button ng-click="updateTickets()" type="button" ladda="loadingexecUpdate" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in">Actualizar</button>
						</div>

					</div>
				</div>
			</div>
		</uib-tab>

		<uib-tab>
			<uib-tab-heading>
				<span>Carga Diaria(Excel)</span>
			</uib-tab-heading>
			<div class="panel-body" ng-controller="StoreTicketsCtrl" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12 ibox-content" data-ng-init="init()">
						<div class="form-group row">
							<div class="input-group" style="margin-left: 10px;">
								<label>Cadena:</label><br>
								<select ng-model="brand" ng-change="brandChange()" data-ng-options="o.name for o in brands" class="form-control" style="width: 250px;"></select><br>
							</div>
							<div class="input-group" style="margin-left: 10px;">
								<label>Periodo:</label><br>
								<input type="datetime" id="period" ng-model="period" class="form-control" date-time view="month" min-view="month" auto-close="true" format="YYYY-MM" style="width: 250px;">
								<br/>
								<button style="margin-top:30px;" type="button" ng-click="fileUpdate()" ladda="loadingexecUpdate" class="ladda-button btn btn-primary block btn-w-m m-b" ng-disabled="fileUpdateDisabled" data-style="zoom-in" >Confirmar</button>
							</div>
							<div class="input-group" style="float: right; margin-right: 15px;">
								<form class="dropzone tickets-daily" dropzone="">
									<div class="dz-message">
										Arrastra el archivo excel aqu&iacute; para cargarlo
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div ng-class="formTicketsClass" class="row">
					<div class="col-lg-12 ibox-content">
		                <p class="font-bold  alert alert-warning m-b-sm">
							Por favor, revisa bien los datos de previsualizaci&oacute;n antes de dar click al botón "Confirmar".<br/>
							Si los datos no son correctos, puede haber corrupción de las gráficas de tickets en el Dashboard.
	                    </p>
						<div class="row" ng-repeat="(j, element) in liststores">
							<div class="col-lg-12 ibox-content">
								<div class="ibox-title">
									<h5>{{element.name}} (Deducido de: {{element.original}}) </h5>
								</div>

								<div class="ibox-content form-group">
									<div ng-repeat="(i, day) in element.tickets track by $index">
										<label class="col-lg-2 col-sm-3" style="text-align: center; margin-top: 7px;">{{listdates[i]}}</label>
										<div class="col-lg-2 col-sm-3"><input ng-model="day" disabled="true" class="form-control"></div>
									</div>
									<div class="col-lg-12" ng-class="formTicketsClass">
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</uib-tab>

		<uib-tab>
			<uib-tab-heading>
				<span>Carga por Hora(Manual)</span>
			</uib-tab-heading>
			<div class="panel-body" ng-controller="StoreTicketsCtrl" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12 ibox-content" data-ng-init="init()">
						<div class="form-group row">
							<div class="input-group" style="float: left; margin-left: 10px;">
								Cadena:<br>
								<select ng-model="brand" ng-change="brandChange()" data-ng-options="o.name for o in brands" class="form-control" style="width: 250px;"></select>
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								Tienda:<br>
								<select ng-model="store" data-ng-options="o.name for o in stores" class="form-control" style="width: 250px;"></select>
							</div>
						</div>
						<div class="form-group row">
							<div class="input-group" style="float: left; margin-left: 10px;">
								Fecha<br>
								<input type="datetime" id="date" ng-model="date" class="form-control" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD" style="width: 190px;">
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								Hora Inicio:<br>
								<select ng-model="fromHour" data-ng-options="o.name for o in hours" class="form-control" style="width: 150px;"></select>
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								Hora Fin:<br>
								<select ng-model="toHour" data-ng-options="o.name for o in hours" class="form-control" style="width: 150px;"></select>
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								<br/>
								<button type="button" ng-click="loadTicketsByHour()" ladda="loadingloadUpdate" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in" >Cargar</button>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-12 ibox-content" ng-class="formTicketsClass">
						<div class="ibox-title">
							<h5>Tickets Por Hora para el día {{date}}</h5>
						</div>

						<div class="ibox-content form-group">
							<div ng-repeat="(i, hour) in listhours track by $index">
								<label class="col-lg-2 col-sm-3" style="text-align: center; margin-top: 7px;">{{hour.hour}}</label>
								<div class="col-lg-2 col-sm-3"><input ng-model="listhours[i].numberoftickets" class="form-control"></div>
							</div>
							<div class="col-lg-12" ng-class="formTicketsClass">
								&nbsp;
							</div>
						</div>

						<div class="col-lg-12 ibox-content" ng-class="formTicketsClass">
							<button ng-click="updateTicketsByHour()" type="button" ladda="loadingexecUpdate" class="ladda-button btn btn-primary block btn-w-m m-b" data-style="zoom-in">Actualizar</button>
						</div>

					</div>
				</div>
			</div>
		</uib-tab>

		<uib-tab>
			<uib-tab-heading>
				<span>Carga por Hora(Excel)</span>
			</uib-tab-heading>
			<div class="panel-body" ng-controller="StoreTicketsCtrl" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12 ibox-content" data-ng-init="init()">
						<div class="form-group row">
							<div class="input-group" style="margin-left: 10px;">
								<label>Cadena:</label><br>
								<select ng-model="brand" ng-change="brandChange()" data-ng-options="o.name for o in brands" class="form-control" style="width: 250px;"></select><br>
							</div>
							<div class="input-group" style="float: left; margin-left: 10px;">
								Fecha:<br>
								<input type="datetime" id="date" ng-model="date" class="form-control" date-time view="month" min-view="date" auto-close="true" format="YYYY-MM-DD" style="width: 190px;">
							</div>
							<div class="input-group" style="margin-top:6em; margin-left:1em;display:flex; margin-right: 45px;">
								<form class="dropzone tickets-hour" dropzone="">
									<div class="dz-message">
										Arrastra el archivo excel aqu&iacute; para cargarlo
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div ng-class="formTicketsClass" class="row">
					<div class="col-lg-12 ibox-content">
		                <p class="font-bold  alert alert-warning m-b-sm">
							Por favor, revisa bien los datos de previsualizaci&oacute;n antes de dar click al botón "Confirmar".<br/>
							Si los datos no son correctos, puede haber corrupción de las gráficas de tickets en el Dashboard.
	                    </p>
						<div class="row" ng-repeat="(j, element) in liststores">
							<div class="col-lg-12 ibox-content">
								<div class="ibox-title">
									<h5>{{element.name}} (Deducido de: {{element.original}}) </h5>
								</div>

								<div class="ibox-content form-group">
									<div ng-repeat="(i, day) in element.tickets track by $index">
										<label class="col-lg-2 col-sm-3" style="text-align: center; margin-top: 7px;">{{listdates[i]}}</label>
										<div class="col-lg-2 col-sm-3"><input ng-model="day" disabled="true" class="form-control"></div>
									</div>
									<div class="col-lg-12" ng-class="formTicketsClass">
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>

	</uib-tabset>
</div>
